@*@{
    Layout = null;
}*@
@using CodeLouisvilleCSharp.Models
@model Home
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
<div class="row">
</div>
    <div class="row">
        <div class="col-md-8">
            @using (@Html.BeginForm("DeleteItem", "ItemView"))
            {
                <div>
                    <h2>Are you sure you want to delete this record?</h2>
                </div>
                <div class="form-group">
                    @Html.Label("Ammount", null, new { id = "LabelSpace" })
                    @Html.TextBoxFor(home => home.Ammount, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group">
                    @Html.Label("Category")
                    @Html.TextBoxFor(home => home.ChosenCategory, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group">
                    @Html.Label("Frequency")
                    @Html.TextBoxFor(home => home.ChosenFrequency, new { @class = "form-control", @readonly = "true" })
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-trash"></i> Delete
                </button>
            }
        </div>
    </div>
</body>
</html>
