@*@{
    Layout = null;
}*@
@using CodeLouisvilleCSharp.Models
@model Home
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
<div class="row">
</div>
    <div class="row">
        <div class="col-md-4">
            @using (@Html.BeginForm("EditItem", "ItemView"))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.Label("Ammount", null, new {id = "LabelSpace"})
                    @Html.TextBoxFor(home => home.Ammount, null, new {id = "AddText"})
                </div>
                <div class="form-group">
                    @Html.Label("Category")
                    @Html.DropDownListFor(home => home.ChosenCategory,
                        new SelectList(Enum.GetValues(typeof(Category))),
                        "Select Category",
                        new {@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.Label("Frequency")
                    @Html.DropDownListFor(home => home.ChosenFrequency,
                        new SelectList(Enum.GetValues(typeof(Frequency))),
                        "Select Frequency",
                        new {@class = "form-control"})
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-ok-sign"></i> Submit
                </button>
            }
        </div>
    </div>
</body>
</html>
